<div class="panel panel-default">
  <div class="panel-heading">
		<h4 class="modal-title">Datos de los Sensores</h4>
  </div>
  <div class="panel-body">
  	<ul>
			<li>Reporte 1 : Datos durante todo un día.</li>
			<li>Reporte 2 : Máximo, minimo y promedio entre un rango de días.</li>
		</ul>
		<br>
		<div class="tab-content">
			<ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#repo1" aria-controls="repo1" role="tab" data-toggle="tab">Reporte 1</a></li>
		    <li role="presentation"><a href="#repo2" aria-controls="repo2" role="tab" data-toggle="tab">Reporte 2</a></li>
		  </ul>
		  <div role="tabpanel" class="tab-pane fade in active" id="repo1">
		  	<div class="row">
			  	<div class="col-md-3">
					  <div class="form-group">
					    <label for="repo1_sensor_id">Sensor ID</label>
					    <input type="text" class="form-control" id="repo1_sensor_id" placeholder="Sensor ID">
					  </div>
					</div>
					<div class="col-md-3">
					  <div class="form-group">
					    <label for="repo1_dia">Día</label>
					    <input type="text" class="form-control" id="repo1_dia" placeholder="dd/mm/aaaa">
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<button class="btn btn-default btn-primary" id="repo1_btn_tabla">Generar Reporte - Tabla</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-default btn-primary" id="repo1_btn_chart">Generar Reporte - Gráfica</button>
					</div>
				</div>
				<div class="row">
			  	<div class="col-md-12">
						<canvas id="char_repo_1" width="400" height="100" class="chart-repo"></canvas>
					</div>
			  </div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade" id="repo2">
		  	<div class="row">
			  	<div class="col-md-3">
					  <div class="form-group">
					    <label for="repo1_sensor_id">Sensor ID</label>
					    <input type="text" class="form-control" id="repo2_sensor_id" placeholder="Sensor ID">
					  </div>
					</div>
					<div class="col-md-3">
					  <div class="form-group">
					    <label for="repo1_dia">Día Inicio</label>
					    <input type="text" class="form-control" id="repo2_inicio" placeholder="dd/mm/aaaa">
					  </div>
					</div>
					<div class="col-md-3">
					  <div class="form-group">
					    <label for="repo1_dia">Día Fin</label>
					    <input type="text" class="form-control" id="repo2_fin" placeholder="dd/mm/aaaa">
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<button class="btn btn-default btn-primary" id="repo2_btn_tabla">Generar Reporte - Tabla</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-default btn-primary" id="repo2_btn_chart">Generar Reporte - Gráfica</button>
					</div>
				</div>
				<div class="row">
			  	<div class="col-md-12">
						<canvas id="char_repo_2" width="400" height="100" class="chart-repo"></canvas>
					</div>
			  </div>
		  </div>
		</div>
  </div>
</div>