<div class="panel panel-default">
  <div class="panel-heading">
     <h4 class="modal-title">Gestión de Ubicaciones</h4>
  </div>
  <div class="panel-body">
    <div class="col-md-12 workspace">
				<label class="texto-der oculto" id="txtMensajeRpta"></label>
			</div>
			<div class="col-md-4 workspace">
				<label class="oculto" id="departamento_id"></label>
				<h5 class="subtitulo" style="margin-bottom:15px">Departamentos</h5>
				<table class="list issues" style="" id="tablaDepartamentos"></table>
			</div>
		<div class="col-md-4 workspace">
			<label class="oculto" id="provincia_id"></label>
			<h5 class="subtitulo" style="margin-bottom:15px">Provincias</h5>
			<table class="list issues" style="" id="tablaProvincias"></table>
		</div>
		<div class="col-md-4 workspace">
			<h5 class="subtitulo" style="margin-bottom:15px">Distritos</h5>
			<table class="list issues" style="" id="tablaDistritos"></table>
		</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
     <h4 class="modal-title">Prueba del Buscar con Autocompletar de los Distritos / Provincia / Departamento</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
		  <label for="txtDistrito">Ingrese el distirto a buscar - distrito_id : </label><label id="idDistrito"></label>
		  <input type="text" class="form-control mootools" id="txtDistrito" placeholder="Distrito , Provincia, Departamento" operacion="EscribirAutoComplete" objeto_autocomplete ="autocompleteDistritos">
		    <ul id="autoDistrito" class="oculto sugerencia-contenedor"></ul>
		  </div>
		</div>
  </div>
</div>